.homePage{
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("../public/assets/GroceryStore.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  
}

